@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
}

* {
      margin: 0;
      padding: 0;
}

/* style for banner section */
.navbar,
.banner {
      max-width: 1440px;
      margin: 0 auto;
      margin-top: 70px;
}

/* shared styles */
.display-flex {
      display: flex;
}

/* header styles */

/* navbar relatated styles */
.navbar {
      justify-content: space-between;
}

.nav-item {
      list-style: none;
      margin-right: 34px;
}

.nav-link {
      text-decoration: none;
      color: rgb(58, 58, 58);
      font-family: Poppins;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0px;
}

/* banner related styles */
.banner-item {
      margin-top: 100px;
      justify-content: space-between;
}


.banner-title {
      color: rgb(58, 58, 58);
      font-family: Poppins;
      font-size: 3.25rem;
      font-weight: 700;
      line-height: 4.35rem;
      letter-spacing: 0px;
      text-align: left;
}

.influence {
      text-align: center;
}

.banner-description {
      padding-top: 5px;
      color: rgb(58, 58, 58);
      font-family: Poppins;
      font-size: 1rem;
      font-weight: 600;
      line-height: 24px;
      padding-bottom: 5px;
}

.btn-banner {
      max-width: 196px;
      height: 44px;
      border-radius: 41px;
      background: rgb(224, 44, 109);
      font-size: 1rem;
      font-weight: 700;
      line-height: 24px;
      color: rgb(255, 255, 255);
}

.banner-image {
      margin-right: 30px;
      max-width: 29.68rem;
      height: 475px;
      background-image: url("../images/Circledesign.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
}

.banner-image img {
      width: 100%;
      height: 414px;
      align-items: center;
      margin-top: 20px;
      margin-left: 15px;
}

.banner-sponsar {
      max-width: 1410px;
      margin: 50px 50px;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
}

/* style for popular section; */
.popular {
      max-width: 1047px;
      margin: 30px auto;
      border: 1px solid red;
      border-style: none;
}

.popular-head {
      text-align: center;
      color: rgb(58, 58, 58);
      font-family: Poppins;
      font-size: 1.75rem;
      font-weight: 600;
      line-height: 70px;
      letter-spacing: 0px;
}

/* style for card */

.card-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 0 10px;
      gap: 30px;
}

card-item {
      max-width: 329px;

      border-radius: 5px;
      box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
      background: rgb(255, 255, 255);
      padding: 10px 10px;
}

.card-img {
      width: 100%;
      height: 60%;

}

.img-title {
      color: rgb(24, 25, 31);
      font-family: Poppins;
      font-size: 1.75rem;
      font-weight: 500;
      line-height: 40px;
      letter-spacing: 0%;
}

.price {
      color: rgba(0, 0, 0, 0.87);
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0%;
}

.rating i {
      /* Orange / 60 */
      background: rgb(251, 130, 0);
}

.rating span {
      color: rgb(94, 99, 102);
      font-family: Roboto;
      font-size: 14px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0.1px;
}

.img-description {
      color: rgb(120, 120, 133);
      font-family: Inter;
      font-size: 14px;
      font-weight: 700;
      line-height: 143%;
      letter-spacing: 1.8%;
}

.more-link {
      color: rgba(224, 44, 109, 0.87);
      font-family: Poppins;
      font-size: 1rem;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0px;
      text-decoration: none;
      margin-top: 10px;
      text-align: left;
}

/* media quaries for mobile  */
@media screen and (max-width:576px) {
      .navbar {
            flex-direction: column-reverse;
            margin-bottom: 0px;
      }

      .nav-links {
            flex-direction: column;
            text-align: center;
            justify-content: center;
      }

      .banner-title {
            text-align: center;
      }

      .banner-image {
            width: 100%;
            margin-right: 0px;
      }

      .banner-description {
            text-align: center;
      }

      .banner-item {
            flex-direction: column-reverse;
            text-align: center;
      }

      .banner-sponsar {
            grid-template-columns: repeat(4, 1fr);
            gap: 0px;
            margin-left: 0px;
            row-gap: 20px;
      }

      .card-items {
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
      }
}

/* media quaries for tablet */
@media screen and (min-width:576px) and (max-width:993px) {
      .navbar {
            flex-direction: column-reverse;
            margin-bottom: 0px;
      }

      .nav-links {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
      }

      .banner-title {
            text-align: center;
      }

      .banner-description {
            text-align: center;
      }

      .banner-item {
            flex-direction: column-reverse;
            text-align: center;
      }

      .banner-sponsar {
            grid-template-columns: repeat(4, 1fr);
            gap: 0px;
            margin-left: 0px;
            row-gap: 20px;
      }
}